html, body {
    height:100%;
}

body {
    background-color:#e9e7e7;
    font-family: Segoe UI,Tahoma,Arial,Verdana;
    font-size:16px;
    color:#232323;
}

ul
{
    list-style: none;
    padding:0;
}

.appTitle
{
    font-size:36px;
    font-weight:500;
    -webkit-app-region:drag;
}

.popover
{
    background:#f1f1f1;
    color:#000000;
    font-size:x-large;
    min-width:600px;
    text-align:left;
    border-width:thin;
    border-style:solid;
    border-color:#656565;
}

.otr-changed-icon
{
    color:#009ece;
}

.text-right
{
    text-align: right;
}

.text-smaller
{
    font-size: smaller;
}


#close-button {
    flex:0 0 1%;
    min-width:30px;
    margin-right:10px;
    margin-top:5px;
    text-decoration:none;
    text-shadow: 0 1px 0 #fff;
    color:#e9e7e7;
    font-size:20px;
    font-weight:lighter;
    cursor:pointer;
    padding:0;
}

.top-bar {
    background-color:#656565;
    height:70px;
    color:#e9e7e7;
    padding:10px;
}

.mainapp {
    padding:10px;
}

.loading-message
{
    text-align: center;
    font-size: xx-large;
}

.otr-testing
{
    border-style: solid;
    border-width: 2px;
    border-color: purple;
    padding: 3px;
}


.app-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.otr-main-app-grid
{
    display: flex !important;
    flex-direction: column;
    flex: 1;
}

.otr-top-panel {
    min-height: 40px;
}

.otr-bottom-panel {
    margin: 10px 5px 5px 5px;
    display:flex;
    flex-direction: column;
}

.otr-output-container
{
    min-height: 200px;
    display:flex;
    overflow: auto;
    font-family: Courier New, Courier, monospace;
    flex: 1;
}

.otr-output-area
{
    flex: 1;
    resize: none;
    max-width: none;
}

.onboarding-container
{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.onboarding-name
{
    width: 420px;
    font-weight:500;
}

.onboarding-description
{
    font-weight: normal;
}

.onboarding-text-input
{
    flex: 1;
    max-width:700px;
}

.onboarding-question
{
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
}

.onboarding-controls
{
    padding-top: 4px;
    padding-bottom: 4px;
}

.error-marker
{
    color: red;
}

.invisible
{
    visibility: hidden;
}

.dropdown
{
    padding-right:10px;
}

.otr-container {
    border-style:solid;
    border-width: 2px;
    border-color: darkgray;
}

.header-btn
{
    background-color:#252525;
    height:28px;
    width:28px;
    text-align: center;
    border-radius: 50%;
    display:inline-block;
}

.hub-menu-item {
    padding-left: 10px;
}

.hub-menu-item:hover {
    background-color: #656565;
}

.otr-panel-header {
    font-size:20px;
    background-color:#454545;
    color:#e9e9e9;
    padding:5px 10px 5px 10px;
}

.details-section h2,
.details-section h3
{
    margin-top: 5px;
}

.details-section h2
{
    font-size: 22px;
}

.details-section h3
{
    font-size: 20px;
}

.advanced-info-list li
{
    line-height: 1;
    margin-top: 15px;
}

.details-section
{
    background-color: #f5f5f5;
    padding: 10px 5px 10px 5px;
    margin-bottom:3px;
}

.details-section label
{
    font-weight: 500;
}

.resource-info-item
{
    display: flex;
    padding: 3px;
    margin-top: 3px;
    background-color: white;
}

.resource-name
{
    font-weight: 500;
}

.resource-details
{
    flex: 1;
}

.resource-controls
{
    font-size:22px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top:auto;
    margin-bottom:auto;
}

.input-row
{
    display: flex;
}

.input-row label
{
    margin-right: 10px;
}

.input-row input
{
    flex: 1;
    max-width:none;
}

.icon-button
{
    line-height: inherit;
    cursor: pointer;
}

.header-icon
{
    margin-left:15px;
    margin-right: 15px;
}

.resource-button
{
    font-size: 20px;
}

.icon-button.icon-off
{
    color:#777777;
}

.hub-menu {
    background-color: #555555;
    font-size: 18px;
}

.hub-dropdown {
    font-size: 20px;
    cursor: pointer;
}

.otr-main-wrapper {
    flex: 1;
    display: flex !important;
    flex-direction: row;
    overflow-y: hidden;
}

.otr-left-panel {
    min-width: 150px;
    padding:5px;
}


.otr-left-panel > select {
    width: 100%;
}

.otr-main-panel {
    flex:1;
}

.otr-grid-horizontal
{
    display: flex;
    flex-direction: row;
}

.otr-grid-right {
    justify-content: flex-end;
}

.otr-grid-cell
{
    flex: 1;
}

.otr-output-error
{
    color: red;
}

.otr-output-info
{
    color: black;
}

.otr-grid-top
{
    align-items: flex-start;
}

.otr-grid-cell-fit {
  flex: 1;
}
.otr-grid-cell-full,
.otr-grid-cell-100 {
  flex: 0 0 100%;
}
.otr-grid-cell-70 {
  flex: 0 0 70%;
}
.otr-grid-cell-60 {
  flex: 0 0 60%;
}
.otr-grid-cell-50 {
  flex: 0 0 50%;
}
.otr-grid-cell-33 {
  flex: 0 0 33.3333%;
}

.otr-grid-cell-66 {
  flex: 0 0 66.6666%;
}

.otr-grid-cell-75  {
  flex: 0 0 75%;
}

.otr-grid-cell-25  {
  flex: 0 0 25%;
}

.otr-grid-cell-10  {
  flex: 0 0 10%;
}

.otr-grid-cell-5  {
  flex: 0 0 5%;
}

.otr-grid-cell-12-5  {
  flex: 0 0 12.5%;
}

.otr-grid-cell-15  {
  flex: 0 0 15%;
}

.otr-grid1-cell-20  {
  flex: 0 0 20%;
}
